name: blobprox
services:
  keygen:
    pull_policy: always
    image: "<registry-url>/plugin/proxy-keygen:latest"
    container_name: plugin-keygen
    user: <uid>:<gid>
    volumes:
      - <local-key-dir>:/keys

  server:
    pull_policy: always
    restart: unless-stopped
    image: "<registry-url>/plugin/blobprox:latest"
    container_name: plugin-blobprox
    user: <uid>:<gid>
    ports:
      - "8082:8082"
    volumes:
      - <local-key-dir>:/.keys:ro
      - <creds-path>:/.secrets/creds.json:ro
    environment:
      - "API_KEY=<api-key>"
      - "STORAGE_URL=<storage_url>"
    depends_on:
      - keygen
