services:
  apache-server:
    container_name: apache-server
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8081"
    volumes:
      - /home/yannick/code/pluginSHIRE/tests/containers/v6-http-test/TEST_DATA:/usr/local/apache2/htdocs/data
